body {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0px;
    min-height: 100vh;
}

.calculator {
    display: flex;
    flex-direction: column;
    border-style: solid;
    border-radius: 3px;
    padding: 10px;
    gap: 5px;
}

.row {
    display: flex;
    justify-content: space-between;
    gap: 5px;
}

button {
    width: 60px;
    height: 60px;
    font-size: 20px;
}

.cd {
    width: 130px;
    height: 60px;
}

.display {
    width: 255px;
    height: 60px;
    border-style: solid;
    border-radius: 3px;
    text-align: end;
    line-height: 60px;
    padding: 5px;
    font-size: 40px;
}